{% extends './_base.html' %}
{% load static %}
{% block content %}
{% if validlink %}
  <main class="main-autenticacao">
    <section class="secao-autenticacao">
        <h1>Reset Password</h1>
        <form method="post">
          {% csrf_token %}
          {{ form }}
          <button class="btn btn-primary" type="submit">Reset Password</button>
        </form>
      {% else %}
        <h1>Invalid Link</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
      {% endif %}
    </section>
  </main>
{% endblock content %}