<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}eLibros - Entrar{% endblock title %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
</head>

    <main class="main-autenticacao">
        <section class="secao-autenticacao">
            <p>Sua senha foi redefinida</p>
            <a href="{% url 'login' %}">Faça login</a>
        <section class="secao-autenticacao">
    </main>