@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  background-color: #FFFFF5;
  width: 100%;
}

.input_quantia_produtos {
  margin: 0 auto;
  text-align: center;
  -webkit-appearance: none;
}

input[type="number"] {
  outline: none;
  border: none;
}

input[type="number"]:focus {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

/* header */
* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  color: #1C1607;
}

header {
  padding: 1em 5em;
  border-bottom: 8px #FFD147 solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1C1607;
}

header h1 a {
  display: flex;
}

header h1 a img {
  width: 200px;
}

header nav {
  display: flex;
}

header nav ul {
  gap: 1em;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

header nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul li a {
  color: #FFF;
  padding: 0 0.2em;
  text-decoration: none;
  display: flex;
}

/* header a.active {
  border-bottom: #FFD147 1px solid;
  margin-bottom: -1px;
} */

/* animação rs */
.nav-link-normal {
  position: relative;
}

.nav-link-normal:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: #FFD147;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.17s ease-in-out 0s;
  transition: all 0.17s ease-in-out 0s;
}

nav .nav-link-normal:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* animação rs */

#cadastrar {
  background-color: #FFF;
}

#cadastrar:hover {
  background-color: #ececec;
  transition: all 0.3s;
}

#entrar {
  background-color: #FFD147;
}

#entrar:hover {
  background-color: #fac423;
  transition: all 0.3s;
}

.nav-link-expand {
  padding: 0.3em 2em;
  color: #1C1607;
  border-radius: 3px;
}

#carrinho img {
  width: 24px;
}

#perfil {
  display: flex;
  align-items: center;
  justify-content: center;
}

#perfil img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

#dropdown {
  position: relative;
}

#dropdown ul {
  display: flex;
  visibility: hidden;
  position: absolute;
  opacity: 0;
  right: 0;
  background-color: #1C1607;
  width: max-content;
  padding: 0.2em .8em;
  border-radius: 3px;
  display: flex;
  gap: 1px;
  align-items: flex-start;
  flex-direction: column;
  transition: all .2s;
}

#dropdown:hover ul {
  visibility: visible;
  opacity: 1;
  transition: all .2s;
}

#dropdown ul li {
  width: 100%;
}

#dropdown ul li a {
  padding: 0.4em;
  width: 100%;
}

#dropdown ul li a:hover {
  color: #FFD147;
  transition: all .2s;
}

#sair {
  border-top: 1px solid #3B362B;
}

#dropdown ul li a#sair:hover {
  color: rgb(172, 54, 0);
}





/* footer */
footer {
  margin-top: 5em;
  padding: 2em 5em;
  background-color: #1C1607;
}

footer p {
  color: #fff;
}






/* paginas */

h2 {
  color: #1C1607;
  font-size: 1.6em;
  font-weight: 500;
}

section {
  padding: 0 5em;
}

figure {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.banner {
  background-image: url('/static/images/banner.png');
  background-size: cover;
  background-position: center top;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5em;
  margin-bottom: 2em;
}

.banner p {
  color: #FFFFF5;
  text-align: left;
  font-size: 1em;
  font-weight: 300;
}

.sobre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sobre figure img {
  width: 20em;
  margin-right: 2em;
}

.sobre div {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.sobre h2,
.sobre p {
  width: 100%;
}

.sobre>div>p {
  padding: .8em 0 1.2em;
}

.sobre h3 {
  font-size: 1.2em;
  font-weight: 500;
  padding: .5em 0 .1em;
}

.sobre div div {
  flex-direction: column;
  width: 40%;
  justify-content: flex-start;
}

.sobre div div img {
  width: 1.2em;
}

.sobre div div p {
  font-size: .84em;
  font-weight: 300;
}

.info {
  margin: 3em 0;
  display: flex;
  justify-content: space-evenly;
}

.info div {
  width: 22%;
  text-align: center;
}

.info div h3 {
  color: #5B4F3D;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: .2em;
}

.info div p {
  /* color: #1C1607; */
  text-align: center;
  font-size: .9em;
  font-weight: 400;
}

.contato {
  background-color: #FFD147;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0;
  padding: 2em 5em;
}

.contato #divisor {
  height: 3.2em;
  background-color: #BF9D35;
  width: 2px;
}

.contato>div {
  gap: 3em;
}

.contato div {
  display: flex;
  align-items: center;
  color: #473b1d;
  font-size: 1.1rem;
  text-align: center;
}

.contato h2 {
  color: #574725;
}

.contato div figure {
  padding-right: .66em;
}

.contato div figure img {
  height: 1.2em;
  color: #574725;
}

.livros {
  padding: 1em 5em;
}

.livros h2 {
  margin: 1em 0;
  font-size: 1.24em;
}

.livros>div {
  margin: 0 auto;
  gap: 1em;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
}

.livros .acervo {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2em 1em;
}

.livros>div>div {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.livros>div>div figure img{
  width: 7em;
  height: 10em;
  border-radius: 3px;
}

.livros>div>div h3 {
  font-size: 1em;
  font-weight: 600;
  width: 8em;
  padding: 0 .5em;
  height: 3em;
  line-height: 1.2em;
}

.livros>div>div h3 span {
  font-size: .9em;
  font-weight: 300;
}

.livros>div>div p {
  font-size: .8em;
  margin: .5em 0;
  font-weight: 400;
}

.livros>div>div p:nth-child(2) {
  font-size: .72em;
  font-style: italic;
}

.livros>div>div a {
  font-size: .8em;
  color: #1C1607;
  text-decoration: none;
  background-color: #FFD147;
  border-radius: 10px;
  padding: 0.3em 1.2em;
  margin: 1em 0;
}

.livros>div .setinha {
  position: absolute;
  right: -1px;
  background: none;
  border: none;
}

.livros>p a {
  color: #FFD147;
  font-size: 1em;
  font-weight: 400;
  margin: 2em auto 0;
  display: block;
  text-align: center;
}


section#search p {
  color: #6A6A6A;
  font-weight: 500;
}

.livro {
  margin-top: 5em;
  display: flex;
  gap: 5em;
  height: fit-content;
  justify-content: space-between;
  align-items: flex-start;
}

.livro figure img {
  width: 296px;
  height: 428px;
}

.livro_info div.livro_header {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.livro_info h2 {
  font-size: 27px;
}

.livro_info span {
  opacity: 0.5;
  font-size: 20px;
}

.livro_info p {
  font-size: 17px;
  opacity: 0.5;
}

/* Espaçamento entre os parágrafos de descrição */
.livro_descricao p {
  font-size: 16px;
  opacity: 0.65;
  margin-bottom: 10px;
  /* Espaçamento entre os parágrafos */
}

/* Estilo da seção de compra */
.livro .compra {
  border: solid #D9D9D9 10px;
  border-radius: 0.5em;
  padding: 2em 1em;
  /* Aumenta o padding para dar mais espaço interno */
}

/* Mantendo o conteúdo alinhado */
.livro .compra>div {
  padding: 2.5em 0em;
  border-top: solid #D9D9D9 1.9px;
  border-bottom: solid #D9D9D9 1.9px;
}


.livro .compra>div>div {
  width: 190px;
  display: flex;
  align-items: center;
}



.moeda {
  font-size: 12px;
  opacity: 0.5;
  vertical-align: top;
}

.moeda-cart {
  font-size: 22px;
  opacity: 0.5;
  vertical-align: top;
}

.preco-maior {
  font-size: 24px;
}

.preco-maior-cart {
  font-size: 32px;
  font-weight: 500;
}

.preco-menor {
  font-size: 12px;
  vertical-align: top;
}

.livro .compra p:nth-child(2) {
  font-size: 12px;
  opacity: 0.5;
}

.livro .compra p:nth-child(3) {
  font-size: 12px;
}

.livro .compra p:nth-child(3) span {
  color: #5391AB;
}

.livro .compra p:nth-child(4) {
  font-size: 12px;
}

.livro .compra p:nth-child(4) a {
  margin-top: 1em;
  text-decoration: none;
  color: #5391AB;
}

.livro .compra p:nth-child(5) {
  color: #3B362B;
  font-size: 16px;
}

.livro .compra p:nth-child(5) span {
  font-size: 12px;
  font-weight: 100;
}

.livro .compra .botoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.livro .compra .botoes button {
  display: flex;
  width: 190px;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  border-radius: 0.5em;
  border: none;
  padding: 0.3em;
  cursor: pointer;
}

.livro .compra .botoes button p {
  font-size: 14px;
}

.livro .compra .botoes button img {
  margin-right: 0.5em;
  margin-top: 0.2em;
}

.livro .compra .botoes button:nth-child(1) {
  background-color: #3B362B;
}

.livro .compra .botoes button:nth-child(1) p {
  color: #FFFFF5;
}

.livro .compra .botoes button:nth-child(2) {
  background-color: #FFD147;
}

.livro .compra .botoes button:nth-child(2) p {
  color: #585858;
}

.livro .compra .botoes button:nth-child(3) {
  background-color: #FFFFF5;
  border: solid 1px #D9D9D9;
}

.livro .compra .botoes button:nth-child(3) p {
  color: #000000;
}

.quantity-input {
  position: relative;
  width: 100px;
  /* Largura maior para o input */
  height: 30px;
  /* Altura do input */
  display: flex;
  align-items: center;
  border-radius: 13px;
  /* Borda redonda */
  overflow: hidden;
  border: 2px solid #D9D9D9;
  margin-bottom: 20px;
}

.quantity-btn {
  background-color: #D9D9D9;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  border-radius: 30%;
  /* Para icones circulares */
  margin: 0.3em;
}

.minus {
  position: absolute;
  left: 0;
}

.plus {
  position: absolute;
  right: 0;
}

#quantity {
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  /* Remove a borda original */
  font-size: 18px;
  padding: 0 40px;
  /* Espaço suficiente para os botões */
  box-sizing: border-box;
  background-color: transparent;
  /* Para manter a cor uniforme */
  outline: none;
  /* Remove a linha de foco */
}

/* Estilos para remover as setas do input number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.meucarrinho {
  margin-top: 3em;
}

.meucarrinho h2 {
  margin-bottom: 1em;
}

.meucarrinho ul {
  border-top: solid black 1px;
  margin-top: 1em;
}

.meucarrinho ul li {
  display: flex;
  gap: 5em;
  border-bottom: solid black 1px;
  padding: 2em 0em;
}

.meucarrinho ul li h3 {
  font-size: 28px;
  font-weight: 500;
  border-bottom: 1px solid #D9D9D9;
}

.meucarrinho ul li h3 a {
  text-decoration: none;
}

.meucarrinho ul li>div {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.meucarrinho ul li label {
  display: flex;
  align-items: center;
}

.meucarrinho ul li figure img {
  width: 180px;
  height: auto;
}

.meucarrinho .botoes {
  margin-top: 1em;
  gap: 1em;
  display: flex;
  justify-content: end;
}

.meucarrinho .botoes button {
  padding: 0.5em 1em;
  border-radius: 3px;
}

.meucarrinho .botoes button:nth-child(1) {
  background-color: white;
  border: #AFAFAF solid 3px;
}

.meucarrinho .botoes button:nth-child(2) {
  background-color: #FFD147;
  border: none;
}

.meucarrinho .botoes button a {
  font-size: 18px;
  text-decoration: none;
}

#carrinhovazio{
  text-align: center;
  font-size: 28px;
  opacity: 0.5;
  margin-top: 8em;
  margin-bottom: 8em;
}

.lixeira_produto {
  height: 2em;
  position: absolute;
  right: 0.5em;
}

.custom-checkbox {
  display: none;
}

.checkbox-dot {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

.custom-checkbox:checked + .checkbox-dot {
  background-color: #ffdc71;
}

.custom-checkbox:disabled + .checkbox-dot{
  background-color: #D9D9D9;
}

/* admin */

main.admin {
  margin: 3em 0;
}

h1#adminHome {
  font-family: 'Poppins';
  font-weight: 500;
  margin: 1em 2em 0 20%;
}

section#adminHome {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 65%;
}

section#adminHome>a {
  display: flex;
  flex: 1 0 calc(50% - 200px);
  margin: 1.5em;
  align-items: center;
  padding: 1.5em 1.5em 1.5em 2em;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 -4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1.9em;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-family: 'Poppins';
}

/* manter */
section#cabecalho {
  display: flex;
  align-items: center;
  font-family: 'Poppins';
  gap: 1em;
  margin: 0 0 2em 0;
}

h2#manter {
  font-family: 'Poppins';
  font-size: 2em;
  font-weight: 500;
}

section#cabecalho>a {
  font-family: 'Poppins';
  font-size: 0.9em;
  text-decoration: none;
  border-radius: 20px;
  background-color: #876950;
  color: white;
  padding: 5px 20px;
}

section#search {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
  margin-bottom: 1em;
}

form#search {
  display: flex;
  gap: 2em;
  font-family: 'Poppins';
}

div#search {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #F4F4F4;
  padding: 0 15px;
  border-radius: 30px;
}

div#search input {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 5px 0;
  font-size: 1em;
}

div#search input:focus {
  border: none;
  outline: none;
}

div#filter {
  display: flex;
  align-items: center;
  gap: 1em;
}

div#filter label {
  display: flex;
  align-items: center;
  gap: 5px;
}

div#select {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1em;
}

div#select select {
  background-color: transparent;
  border: 1px solid #FFFFF5;
}

div#select select:focus {
  outline: none;
}


/* Administração eLibros */


.paginasadmincontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
  /* gap: 2em; */
}

.paginasadmincontainer h1 {
  width: 90%;
  text-align: left;
  font-size: 48px;
  font-weight: 400;
}

.paginasadmingrid {
  margin-top: 3em;
  width: 90%;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 5em;
  row-gap: 3.5em;
}

.paginasadmingrid > div {
  width: auto;      
  display: flex;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.paginasadmingrid div div {
  display: flex;
  align-items: center;
  margin-left: 5em;
}

.paginasadmingrid > div:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.paginasadmingrid div a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5em 0em;
}

.paginasadmingrid div a * {
  margin-right: 1em;
}

.paginasadmincontainer h2 {
  font-size: 40px;
  font-weight: 400;
}


ul.listagem li {
  display: flex;
  gap: 5em;
  margin-bottom: 0.5em;
  justify-content: space-between;
}

ul.listagem span {
  font-size: 1.3em;
}

ul.listagem ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

ul.listagem ul a {
  border-radius: 50px;
  height: fit-content;
}

ul.crud li:nth-child(1) a {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  padding: 5px 3.5em;
}

ul.crud li:nth-child(2) a {
  text-decoration: none;
  color: black;
  background-color: #FFD147;
  padding: 5px 3em;
}

ul.crud li:nth-child(3) a {
  color: white;
  background-color: #FF4E4E;
  text-decoration: none;
  padding: 5px 3em;
}

ul.crud2 li:first-child a {
  text-decoration: none;
  color: black;
  background-color: #FFD147;
  padding: 5px 2em;
}

ul.crud2 li:last-child a {
  color: white;
  background-color: #FF4E4E;
  text-decoration: none;
  padding: 5px 3em;
}