services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile

    volumes:
      - ../..:/workspaces:cached
    command: sleep infinity
    network_mode: service:db

  db:
    image: postgres:latest
    build:
      context: .
      dockerfile: DockerfileDB
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: Usuario_eLibrosDB
      POSTGRES_DB: eLibrosDB
      POSTGRES_PASSWORD: gatineosFofineos
    

volumes:
  postgres-data: 
