<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- {% block styles %}{% endblock %} -->
    <title>eLibros - Inicio</title>
    <!-- <link rel="stylesheet" href="{% static 'global.css' %}"> -->
    <link rel="stylesheet" href="static/global.css">
    <script src="static/global.js"></script>
</head>

<body>
    <header>
        <!-- <h1><a href="inicio.html"><img src="{% static 'images/logo.svg' %}"></a></h1> -->
        <h1><a href="inicio.html"><img src="static/images/logo.png"></a></h1>
        <nav>
            <ul class="navbar-ul">
                <li>
                    <a class="nav-link-normal active" href="inicio.html">Início</a>
                </li>
                <li>
                    <a class="nav-link-normal" href="acervo.html">Acervo</a>
                </li>
                <li>
                    <a id="cadastrar" class="nav-link-expand" href="cadastrar.html">Cadastrar</a>
                </li>
                <li>
                    <a id="entrar" class="nav-link-expand" href="entrar.html">Entrar</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="meucarrinho">
            <h2>Meu Carrinho</h2>
            <input type="checkbox" id="selectAll" class="custom-checkbox">
            <label for="myCheckbox">
                <input type="checkbox" id="myCheckbox" class="custom-checkbox">
                <span class="checkbox-dot"></span>
                Selecionar tudo
            </label>
            <ul>
                <li>
                    <label for="myCheckbox1">
                        <input type="checkbox" id="myCheckbox1" class="custom-checkbox">
                        <span class="checkbox-dot"></span>
                    </label>
                    <figure>
                        <img src="static/images/diasperfeitos.png" alt="Dias Perfeitos - Raphael Montes">
                    </figure>
                    <div>
                        <h3><a href="livro.html">Dias Perfeitos</a></h3>
                        <p>
                            <span class="moeda-cart">R$</span>
                            <b><span class="preco-maior-cart">48,84</b>
                        </p>
                        <div>
                            <p>Qnt:</p>
                            <div class="quantity-input">
                                <button class="quantity-btn minus">-</button>
                                <input type="number" id="quantity" value="1" min="1" max="99">
                                <button class="quantity-btn plus" >+</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <label for="myCheckbox2">
                        <input type="checkbox" id="myCheckbox2" class="custom-checkbox">
                        <span class="checkbox-dot"></span>
                    </label>
                    <figure>
                        <img src="static/images/placeholder.png" alt="Família Feliz">
                    </figure>
                    <div>
                        <h3><a href="#">Família Feliz</a></h3>
                        <p>
                            <span class="moeda-cart">R$</span>
                            <b><span class="preco-maior-cart">50,00</span></b>
                        </p>
                        <div>
                            <p>Qnt:</p>
                            <div class="quantity-input">
                                <button class="quantity-btn minus">-</button>
                                <input type="number" id="quantity" value="1" min="1" max="99">
                                <button class="quantity-btn plus">+</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="botoes">
                <button><a href="acervo.html">Continuar comprando</a></button>
                <button><a href="#">Finalizar compra</a></button>
            </div>
        </section>
    </main>
    <!-- {% block content %}{% endblock %} -->
    <footer>
        <p>2024 Entregadores. Todos os direitos reservados</p>
    </footer>
    <!-- {% block scripts %}{% endblock %} -->
</body>

</html>