<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- {% block styles %}{% endblock %} -->
        <title>eLibros - Inicio</title>
        <!-- <link rel="stylesheet" href="{% static 'global.css' %}"> -->
        <link rel="stylesheet" href="static/global.css">
    </head>
    <body>
        <header>
            <!-- <h1><a href="inicio.html"><img src="{% static 'images/logo.svg' %}"></a></h1> -->
            <h1><a href="inicio.html"><img src="static/images/logo.png"></a></h1>
            <nav>
                <ul class="navbar-ul">
                    <li>
                        <a class="nav-link-normal active" href="inicio.html">Início</a>
                    </li>
                    <li>
                        <a class="nav-link-normal" href="acervo.html">Acervo</a>
                    </li>
                    <li>
                        <a id="cadastrar" class="nav-link-expand" href="cadastrar.html">Cadastrar</a>
                    </li>
                    <li>
                        <a id="entrar" class="nav-link-expand" href="entrar.html">Entrar</a>
                    </li>
                </ul>
            </nav>
        </header>




        <main>
            <section class="banner">
                <p>“Há sonhos que devem permanecer nas <br>gavetas, nos cofres, trancados até o <br>nosso fim. E por isso passíveis de serem <br>sonhados a vida inteira.” - Hilda Hilst</p>
            </section>
            <section class="info">
                <div>
                    <h2>+5Mi acessos</h2>
                    <p>Desde 2023, conseguimos juntar mais de 5,000,000 acessos em nossa loja</p>
                </div>
                <div>
                    <h2>26 estados</h2>
                    <p>Atualmente, somos capazes de entregar suas compras em qualquer estado do país</p>
                </div>
                <div>
                    <h2>+10mil livros</h2>
                    <p>Nossa coleção conta com mais de 10,000 livros de inúmeros autores diferentes</p>
                </div>
            </section>
            <section class="contato">
                <h2>
                    Contate-nos
                </h2>
                <div id="divisor"></div>
                <div>
                    <div>
                        <figure><img src='static/images/icons/email.svg'></figure>
                        <p>elibros@entregadores.com</p>
                    </div>
                    <div>
                        <figure><img src='static/images/icons/fone.svg'></figure>
                        <p>Disque (84) 4005-9832</p>
                    </div>
                </div>
            </section>
            <section class="livros">
                <h2>Mais vendidos</h2>
                <div>
                    <div>
                        <figure><img src="static/images/placeholder.png"></figure>
                        <div>
                            <h3>A Queda dos Reinos</h3>
                            <p>Morgan Rhodes</p>
                            <a href="#">Comprar</a>
                        </div>
                    </div>
                    <div>
                        <figure><img src="static/images/placeholder.png"></figure>
                        <div>
                            <h3>Heartstopper<br><span>Volume I</span></h3>
                            <p>Alice Oseman</p>
                            <a href="#">Comprar</a>
                        </div>
                    </div>
                    <div>
                        <figure><img src="static/images/placeholder.png"></figure>
                        <div>
                            <h3>Conectadas</h3>
                            <p>Clara Alves</p>
                            <a href="#">Comprar</a>
                        </div>
                    </div>
                    <div>
                        <figure><img src="static/images/placeholder.png"></figure>
                        <div>
                            <h3>Percy Jackson<br><span>Ladrão de Raios</span></h3>
                            <p>Rick Riordan</p>
                            <a href="#">Comprar</a>
                        </div>
                    </div>
                    <a href="#" class="setinha"><img src="static/images/setinha.png"></a>
                </div>
                <p><a href="acervo.html">Ver mais</a></p>
            </section>
        </main>





        <!-- {% block content %}{% endblock %} -->
        <footer >
            <p>2024 Entregadores. Todos os direitos reservados</p>
        </footer>
        <!-- {% block scripts %}{% endblock %} -->
    </body>
</html>