<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- {% block styles %}{% endblock %} -->
        <title>eLibros - Inicio</title>
        <!-- <link rel="stylesheet" href="{% static 'global.css' %}"> -->
        <link rel="stylesheet" href="static/global.css">
        <script src="static/global.js"></script>
    </head>
    <body>
        <header>
            <!-- <h1><a href="inicio.html"><img src="{% static 'images/logo.svg' %}"></a></h1> -->
            <h1><a href="inicio.html"><img src="static/images/logo.png"></a></h1>
            <nav>
                <ul class="navbar-ul">
                    <li>
                        <a class="nav-link-normal active" href="inicio.html">Início</a>
                    </li>
                    <li>
                        <a class="nav-link-normal" href="acervo.html">Acervo</a>
                    </li>
                    <li>
                        <a id="cadastrar" class="nav-link-expand" href="cadastrar.html">Cadastrar</a>
                    </li>
                    <li>
                        <a id="entrar" class="nav-link-expand" href="entrar.html">Entrar</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <section class="livro">
                <figure>
                    <img src="static/images/diasperfeitos.png" alt="Dias Perfeitos - Raphael Montes">
                </figure>
                <div class="livro_info">
                    <div class="livro_header">
                        <h2>Dias Perfeitos <span>Companhia das Letras - 2014</span></h2>
                        <p>Escrito por Raphael Montes</p>
                    </div>
                    <!-- Descrição separada -->
                    <div class="livro_descricao">
                        <p>Sombrio e claustrofóbico, Dias perfeitos narra uma história de amor obsessivo e paranoico que consolida Raphael Montes como uma das mais gratas surpresas da literatura nacional. Do criador da série original Netflix "Bom dia, Verônica".</p>
                        <p>Aos 20 anos, o carioca Raphael Montes impressionou crítica e público com Suicidas, um caudaloso romance policial que lhe garantiu vaga entre os dez finalistas do prêmio São Paulo de Literatura na categoria autor estreante. Após ler seu primeiro livro, Scott Turow, um dos autores policiais de maior prestígio no mundo, disse que Raphael está “entre os mais brilhantes ficcionistas jovens” da atualidade.</p>
                    </div>
                </div>
                <div class="compra">
                    <div>
                        <p>
                            <span class="moeda">R$</span>
                            <b><span class="preco-maior">48</span><span class="preco-menor">84</span></b>
                        </p>
                        <p>De: <s>R$ 69,90</s></p>
                        <p><span>Entrega GRÁTIS:</span> Chega entre XX - XX de Mês</p>
                        <p><img src="static/images/local.png"><a href="#">Entregando em ENDEREÇO. Atualizar local</a></p>
                        <p>Em estoque <span>X restantes</span></p>
                        <div class="quantity-input">
                            <button class="quantity-btn minus" onclick="decrease()">-</button>
                            <input type="number" id="quantity" value="1" min="1" max="99">
                            <button class="quantity-btn plus" onclick="increase()">+</button>
                        </div>
                        <div class="botoes">
                            <button><img src="static/images/carrinho.png"><p>Adicionar</p></button>  
                            <button><p>Comprar Agora</p></button>  
                            <button><img src="static/images/caminhao.png"><p>Calcular Frete</p></button>
                        </div>  
                    </div>
                </div>
            </section> 
            <section class="livros">
                <h2>Outros do mesmo gênero</h2>
                <div>
                    <div>
                        <figure><img src="static/images/placeholder.png"></figure>
                        <div>
                            <h3>A Queda dos Reinos</h3>
                            <p>Morgan Rhodes</p>
                            <p>R$59,90</p>
                            <a href="#">Comprar</a>
                        </div>
                    </div>
                    <div>
                        <figure><img src="static/images/placeholder.png"></figure>
                        <div>
                            <h3>Heartstopper<br><span>Volume I</span></h3>
                            <p>Alice Oseman</p>
                            <p>R$59,90</p>
                            <a href="#">Comprar</a>
                        </div>
                    </div>
                    <div>
                        <figure><img src="static/images/placeholder.png"></figure>
                        <div>
                            <h3>Conectadas</h3>
                            <p>Clara Alves</p>
                            <p>R$59,90</p>
                            <a href="#">Comprar</a>
                        </div>
                    </div>
                    <div>
                        <figure><img src="static/images/placeholder.png"></figure>
                        <div>
                            <h3>Percy Jackson<br><span>Ladrão de Raios</span></h3>
                            <p>Rick Riordan</p>
                            <p>R$59,90</p>
                            <a href="#">Comprar</a>
                        </div>
                        <figure><img src="static/images/placeholder.png"></figure>
                        <div>
                            <h3>Percy Jackson<br><span>Ladrão de Raios</span></h3>
                            <p>Rick Riordan</p>
                            <p>R$59,90</p>
                            <a href="#">Comprar</a>
                        </div>
                        <figure><img src="static/images/placeholder.png"></figure>
                        <div>
                            <h3>Percy Jackson<br><span>Ladrão de Raios</span></h3>
                            <p>Rick Riordan</p>
                            <p>R$59,90</p>
                            <a href="#">Comprar</a>
                        </div>
                        <figure><img src="static/images/placeholder.png"></figure>
                        <div>
                            <h3>Percy Jackson<br><span>Ladrão de Raios</span></h3>
                            <p>Rick Riordan</p>
                            <p>R$59,90</p>
                            <a href="#">Comprar</a>
                        </div>
                        <figure><img src="static/images/placeholder.png"></figure>
                        <div>
                            <h3>Percy Jackson<br><span>Ladrão de Raios</span></h3>
                            <p>Rick Riordan</p>
                            <p>R$59,90</p>
                            <a href="#">Comprar</a>
                        </div>
                        <figure><img src="static/images/placeholder.png"></figure>
                        <div>
                            <h3>Percy Jackson<br><span>Ladrão de Raios</span></h3>
                            <p>Rick Riordan</p>
                            <p>R$59,90</p>
                            <a href="#">Comprar</a>
                        </div>
                        <figure><img src="static/images/placeholder.png"></figure>
                        <div>
                            <h3>Percy Jackson<br><span>Ladrão de Raios</span></h3>
                            <p>Rick Riordan</p>
                            <p>R$59,90</p>
                            <a href="#">Comprar</a>
                        </div>
                        <figure><img src="static/images/placeholder.png"></figure>
                        <div>
                            <h3>Percy Jackson<br><span>Ladrão de Raios</span></h3>
                            <p>Rick Riordan</p>
                            <p>R$59,90</p>
                            <a href="#">Comprar</a>
                        </div>
                    </div>
                    <a href="#" class="setinha"><img src="static/images/setinha.png"></a>
                </div>
            </section>
        </main>
        <!-- {% block content %}{% endblock %} -->
        <footer >
            <p>2024 Entregadores. Todos os direitos reservados</p>
        </footer>
        <!-- {% block scripts %}{% endblock %} -->
    </body>
</html>