{% extends '_base.html' %}
{% load static %}
{% block title %}eLibros - Acervo{% endblock title %}
{% block content %}
<main>
    <section id="search">
        <form id="search" action="explorar.html">
            <div id="search">
                <img src="{% static 'images/icons/lupa.svg' %}">
                <input type="search" name="pesquisa" placeholder="Pesquise por nome..." size="52">
            </div>
            <div id="filter">
                <div id="select">
                    <img src="{% static 'images/icons/filter.svg' %}">                          
                    <select>
                        <option value="-1">A-Z</option>
                        <option value="a">A</option>
                        <option value="b">B</option>
                        <option value="c">C</option>
                    </select>
                </div>
                <div id="genero">
                    <label><img src="{% static 'images/icons/Bplus.svg' %}"> Gênero</label>
                </div>
                <div id="data">
                    <label><img src="{% static 'images/icons/Bplus.svg' %}"> Data de inclusão</label>
                </div>
            </div>
        </form>
    </section>

    <section class="livros">
        <h2>Indicações eLibros</h2>
        <div>
            {% for livro in livros_indicacoes %}
            <a href="{% url 'livro' id=livro.id %}">
                <div>
                    <figure>
                        {% if livro.capa %}
                        <img src="{{ livro.capa.url }}">
                        {% else %}
                        <img src="{% static 'images/placeholder.png' %}">
                        {% endif %}
                    </figure>
                    <div>
                        <h3>
                            {{ livro.titulo }}
                            {% if livro.subtiulo %}
                            <br>
                            <span>{{ livro.subtitulo }}</span>
                            {% endif %}
                        </h3>
                        <p>{{ livro.autor }}</p>
                        <p>{{ livro.preco }}</p>
                        <a href="{% url 'livro' id=livro.id %}" class="livro_botao_comprar">Comprar</a>
                    </div>
                </div>
                {% endfor %}
                <a href="#" class="setinha"><img src="{% static 'images/setinha.png' %}"></a>
            </div>
            </a>
          
    </section>    
</main>
{% endblock content %}