{% extends '_base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}eLibros - Livro{% endblock title %}
{% block content %}
<main>
    <section class="livro">
        <figure>
            {% if livro.capa %}
            <img src="{{ livro.capa.url }}" width="100px">
            {% else %}
            <img src="{% static 'images/placeholder.png' %}" width="100px">
            {% endif %}
        </figure>
        <div class="livro_info">
            <div class="livro_header">
                <h2>{{ livro.titulo }} <span>{{ livro.editora }} - {{ livro.ano_de_publicacao }}</span></h2>
                <p>Escrito por {{ livro.autor }}</p>
            </div>
            <div class="livro_descricao">
                <p>{{ livro.sinopse }}</p>
            </div>
        </div>
        <div class="compra">
            <div>
                <p>
                    <span class="moeda">R$</span>
                    {% if preco_com_desconto != None %}
                        {% with preco_parts=preco_com_desconto|split_decimal %}
                            <b><span class="preco-maior">{{ preco_parts.0 }}</span><span class="preco-menor">{{ preco_parts.1 }}</span></b>
                        {% endwith %}
                    {% else %}

                        {% with preco_parts=livro.preco|split_decimal %}
                            <b><span class="preco-maior">{{ preco_parts.0 }}</span><span class="preco-menor">{{ preco_parts.1 }}</span></b>
                        {% endwith %}
                    {% endif %}
                </p>
                {% if preco_com_desconto != None %}
                    <p>De:<s>{{ livro.preco }}</s></p>
                {% endif %}
                
                <p><span>Entrega GRÁTIS:</span> Chega entre XX - XX de Mês</p>
                <p><img src="{% static 'images/local.png' %}"><a href="#">Entregando em ENDEREÇO. Atualizar local</a></p>
                <p>Em estoque <span>{{ livro.quantidade }} restante(s)</span></p>
                <div class="quantity-input">
                    <button class="quantity-btn minus">-</button>
                    <input type="number" id="quantity" value="1" min="1" max="99">
                    <button class="quantity-btn plus">+</button>
                </div>
                <div class="botoes">
                    <button><img src="{% static 'images/carrinho.png' %}">
                        <p>Adicionar</p>
                    </button>

                    <form method="get" action="{% url 'comprar_agora' id=livro.id %}">
                        <input type="hidden" id="hidden_quantity" name="quantity" value="1">
                        <button type="submit">Comprar Agora</button>
                    </form>

                    <button><img src="{% static 'images/caminhao.png' %}">
                        <p>Calcular Frete</p>
                    </button>
                </div>
            </div>
        </div>
    </section>
    
</main>
{% endblock content %}
