{% extends '_base.html' %}
{% load static %}
{% block title %}eLibros - Perfil{% endblock title %}
{% block content %}


<main>

<form method="post" enctype="multipart/form-data">  
    {% csrf_token %}  
    {{ form.as_p }}    <!-- puts -->
  
    <button type="submit">Upload</button>  
</form>  

{% if cliente.foto_de_perfil %}
    <img src="{{ cliente.foto_de_perfil.url }}" alt="Profile Picture" style="max-height:300px">  
{% endif %} 

<p>Nome de usuário</p>
<p>{{ cliente.username }}</p>

<p>E-mail</p>
<p>{{ cliente.email }}</p>

<p>Gênero</p>
<p>{{ cliente.genero }}</p>

<p>Telefone</p>
<p>{{ cliente.telefone }}</p>

<p>Endereço</p>
{% if cliente.endereco %}
    <p>{{ cliente.endereco }}</p>
{% else %}
    <!-- <p>Você não possui endereço(wrrw) cadastrado(s)</p> -->
    <a href="">Cadastrar endereço</a>
{% endif %}

<div class="senha_autenticacao">
    <button>Alterar senha</button>
    <hr>
    <button>Desativar conta</button>
    <button>Excluir conta</button>
</div>

</main>


{% endblock content %}